extends ../layout

block append-header
  link(rel="stylesheet", href="/stylesheets/style.css")

block content
    header.bg-primary.py-1.mb-5
        .container.h-25
            .row.h-25.align-items-center
                .col-lg-12
                    h3.display-4.text-white.mt-5.mb-2
                        | 캠페인 관리자 페이지     
                    p.lead.mb-5.text-white-50
                        | Facebook Contents AB 테스트
    .container
        while messages.length > 0
            - const message =messages.pop()
            .alert(class='alert-dismissible fade show alert-' + message.type)
                button.close(type='button', data-dismiss='alert', aria-label='Close')
                    span(aria-hidden='true') ×
                | #{message.text}
        .row
            .col-md-12
                h4.mb-3 캠페인 등록
                form.needs-validation#form_campaign(method='POST', action='/admin', data-toggle="validator")
                    .row
                        .col-md-6.mb-3.form-group
                            label(for="prdCd") 
                                strong 상품코드
                            input(type="text" name="prdCd" class="form-control" id="prdCd" placeholder="상품코드" autocomplete="off" required)                    
                        .col-md-6
                            label(for="prdNm") 
                                strong 상품명
                            input(type="text" name="prdNm" class="form-control" id="prdNm" placeholder="상품명" autocomplete="off" required)                                                              
                        .col-md-6.mb-3
                            label(for="campaignId") 
                                strong 캠페인ID
                            input(type="text" name="campaignId" class="form-control" id="date" placeholder="Facebook 캠페인ID" required)
                        .col-md-6
                            label(for="campaignNm") 
                                strong 캠페인명
                            select.custom-select.d-block#campaign_nm(name="campaignNm" required)
                                option(value="") Choose...
                                each campaign in campaigns
                                    option(value=campaign.name)= campaign.name
                    .mb-3
                        label(for="category") 
                            strong 카테고리
                        select.custom-select.d-block.w-100#category(name="categoryNm" required='')
                            option(value="") 카테고리 선택
                            each category in categoryList
                                option(value=category.category_nm)= category.category_nm
                    .row
                        .col-md-12.mb-3
                            label(for="contentsAttr") 
                                strong 컨텐츠요소
                            input(type="text" name="contentsAttr" class="form-control" id="contentsAttr" placeholder="컨텐츠요소" autocomplete="off" required)
                        .col-md-12.mb-3
                            label(for="testAttr") 
                                strong 테스트요소
                            input(type="text" name="testAttr" class="form-control" id="testAttr" placeholder="테스트요소" autocomplete="off" required)
                        .col-md-12.mb-3
                            label.mr-2(for="testVar") 
                                strong 테스트정보입력                            
                            .jumbotron.jumbotron-fluid(style="margin-bottom:0px")
                                .controls    
                                    //- form(role="form", autocomplete="off")
                                    .entry.input-group
                                        .col-md-12.mb-3
                                            label.mr-2(for="variant") 테스트변수                                            
                                            span.input-group-btn
                                                button.btn.btn-success.btn-sm.btn-add.mb-1
                                                    span +
                                            input(type="text" name="testVar[0][var]" class="form-control" id="variant" placeholder="ex) 완성컷,등장컷" required)
                                        //- .col-md-12.mb-3
                                        //-     label(for="channel") 채널
                                        //-     select.form-control.custom-select.d-block.w-100#channel(name="testVar[0][channel]")
                                        //-         option(value="all") 전체
                                        //-         option(value="facebook") 페이스북
                                        //-         option(value="instagram") 인스타그램
                                        //- .col-md-12
                                        //-     label(for="mediatype") 매체코드
                                        //-     input(type="text" name="testVar[0][media]" class="form-control" id="mediatype" placeholder="매체코드" required)
                        .col-md-12.mb-3
                            label(for="channel") 
                                strong 채널
                            select.form-control.custom-select.d-block.w-100#channel(name="channel")
                                option(value="all") 전체
                                option(value="facebook") 페이스북
                                option(value="instagram") 인스타그램
                        .col-md-12.mb-3
                            label(for="mediatype") 
                                strong 매체코드
                            input(type="text" name="mediatype" class="form-control" placeholder="매체코드" required)                
                    .row
                        .col-md-12.text-center.mb-3
                            button.btn.btn-primary#btn-add-campaign(type="click") 등록하기
                            button.btn.btn-success.ml-3(type="click") 엑셀 일괄등록
            //- .col-md-4
                h4.mb-3 캠페인 등록 결과
                ul.list-group.mb-3
                    li.list-group-item.d-flex.justify-content-between.lh-condensed
                        div
                            small.text-muted 상품명
                            h6.my-0 에어프라이어
                    li.list-group-item.d-flex.justify-content-between.lh-condensed
                        div
                            small.text-muted 캠페인ID
                            h6.my-0 6121129147361
                    li.list-group-item.d-flex.justify-content-between.lh-condensed
                        div
                            small.text-muted 캠페인
                            h6.my-0 1903_에어프라이어
                    li.list-group-item.d-flex.justify-content-between.lh-condensed
                        div
                            small.text-muted 카테고리
                            h6.my-0 생활가전
                    li.list-group-item.d-flex.justify-content-between.lh-condensed
                        div
                            small.text-muted 컨텐츠 속성
                            h6.my-0 도입부
                    li.list-group-item.d-flex.justify-content-between.lh-condensed
                        div
                            small.text-muted 테스트변수1
                            h6.my-0 완성컷
                        div
                            small.text-muted 테스트변수2
                            h6.my-0 등장컷
                    li.list-group-item.d-flex.justify-content-between.lh-condensed
                        div
                            small.text-muted 채널
                            h6.my-0 전체
                    li.list-group-item.d-flex.justify-content-between.lh-condensed
                        div
                            small.text-muted 매체코드
                            h6.my-0 AAA

block append-script
    script(src="/javascripts/admin.js")
            